<%- include('header'); -%>

<!-- Single App View-->

<h1><%=appName%></h1>

<!-- <h3>Login Here:</h3><br/> -->
<p><a href="/register/<%=appId%>?perms=<%=userperms%>">Log in with Facebook</a></p>
<p><i>* Due to complexity of multi app testing, we are not using the Facebook SDK and cannot access the facebook button graphic.</i></p>

<%=error%>