<% if (data.invites == null) { %>

  <p><%= data.message %></p>

<%} else { %>

  <h1>Welcome Testers!</h1>
  <h3>Please install the following Facebook apps, and make sure to screenshot each prompt along the way.</h3>
  <table>
      <% for(var i=0; i < data.invites.length; i++) { %>
         <tr>
           <td><a href=<%= data.invites[i][1] %>><%= data.invites[i][0] %></a></td>
         </tr>
      <% } %>
  </table>

<% } %>