<%- include('header'); -%>

    <p>This website ("Site") is owned and operated by Protiviti Inc. ("We," "we," “us,” or "Protiviti"). This privacy
        policy ("Policy") describes how we may use and disclose personally identifiable information that we may collect
        about you (“you” or “your”) through the Site or through our relationship with you ("Personal Information"). This
        Site is hosted in the United States and is generally intended only for users in the United States. </p>
    <h3 class="prim-grey style-ckeditor"><strong>Collections of Personal Information</strong></h3>
    <p>With respect to Site visitors, when you use or register with the Site, we may ask for certain Personal
        Information. We may also obtain Personal Information directly from you or your browsing activities on the Site.
        For such activities, we collect the following categories of Personal Information from you:</p>
    <ul>
        <li>Internet activity, such as your browsing activity on the Site, IP address, cookies, and geolocation data
        </li>
        <li>Identifiers if you utilize the Preference Center to let us know your areas of interest, your industry, or
            the types of whitepapers or newsletters you subscribe to in which case you will need to provide your first
            and last name, email address, and your country</li>
        <li>Professional information if you download certain whitepapers, reports, or newsletters, in which case you
            will need to provide your areas of interest, your industry, and the types of newsletter to which you wish to
            subscribe</li>
        <li>Professional information such as email address, country, industry, company name, and role/title when you use
            tools such as the Business Resilience Navigator</li>
    </ul>
    <p>With respect to job applicants, we collect the following categories of Personal Information from you:</p>
    <ul>
        <li>Identifiers, such as your name and contact information such as your email and mailing address, phone number,
            and any login ID / email address and password created by you</li>
        <li>Professional or employment-related information and education information, such as your job search criteria
            and preferences, your availability to work, your employment experience, current job title, educational
            history, your skills, reference information, background check information, pay / compensation expectations,
            ability to work in the United States, whether you now or in the future require sponsorship to continue work
            authorization, languages spoken, and other information contained in your resume. If we run a background
            check on you, we may also collect some of this information from our background check provider although we
            would first obtain your written consent before proceeding with a check</li>
        <li>Internet activity, such as your browsing activity on the Site, IP address, cookies, and geolocation data
        </li>
        <li>Characteristics of protected classifications under applicable law when you apply for a job with us such as
            gender (optional), ethnicity (optional), and whether you are a veteran (optional) </li>
    </ul>
    <p>With respect to subscribers of KnowledgeLeader, we collect the following categories of Personal Information from
        you:</p>
    <ul>
        <li>Identifiers if you sign up for KnowledgeLeader. You will be asked to provide your name, email address,
            country, city, state, and zip code. If you subscribe to KnowledgeLeader, you will be asked for billing
            details consisting of country, contact name, phone number, email address, company name, address, city,
            state, and zip code</li>
        <li>Professional or employment-related information such as your job title, position/role, company, and industry
        </li>
    </ul>
    <p>Subject to applicable law, by providing your mobile phone number to us, you opt in and consent to receive text
        messages from us, which includes but is not limited to text messages sent through an automatic telephone dialing
        system. Consent to receive marketing text messages is not required. If you do not wish to receive marketing text
        messages, do not provide us with your mobile phone number.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Uses of Personal Information</strong></h3>
    <p>We specify below the business and commercial purposes for which we use Personal Information. We use Personal
        Information within the categories of identifiers, characteristics of protected classifications, professional or
        employment related, and education information to track your preferences, learn about what professional interests
        you have, to provide you with information regarding employment opportunities and career-related information, to
        market to you, and to provide you with requested information or services. We may from time to time use your
        Personal Information within the categories of identifiers and internet or other electronic activity information
        to send you automated email messages, text messages (message and data rates may apply), or marketing materials
        regarding our services. We may also use Personal Information such as geolocation data for our business purposes,
        such as data analysis, audits, and improving our services. </p>
    <p>We may also from time to time use your Personal Information to send you automated email messages or marketing
        materials regarding our services. These email messages may contain web beacons and other features that help us
        make sure that you received and were able to open the message. You may opt out of receiving such marketing email
        messages at any time by sending a message with "unsubscribe" in the subject line to <a
            href="/cdn-cgi/l/email-protection#01717364676473646f6264724171736e7568776875682f626e6c"><span
                class="__cf_email__"
                data-cfemail="fe8e8c9b989b8c9b909d9b8dbe8e8c918a9788978a97d09d9193">[email&#160;protected]</span></a>,
        or by following the instructions in any marketing communication.</p>
    <p>In addition to the above purposes, we use your information as described in the section below titled "Disclosures
        of Personal Information for Business and Commercial Purposes".</p>
    <h3 class="prim-grey style-ckeditor"><strong>Disclosures of Personal Information for Business and Commercial
            Purposes</strong></h3>
    <p>For business and commercial purposes, Protiviti may disclose to third parties the following categories of
        Personal Information to assist Protiviti with a variety of business and commercial functions: </p>
    <ul>
        <li>Identifiers such as your name and email address</li>
        <li>Characteristics of protected classifications under applicable law such as gender, ethnicity, or whether you
            are a veteran</li>
        <li>Internet or other electronic activity information such as network activity information, browsing history on
            the Site, search history on the Site, and your interaction with an advertisement</li>
        <li>Geolocation data</li>
        <li>Professional or employment-related information</li>
        <li>Education information </li>
    </ul>
    <p>Such functions may include hosting our Web servers, analyzing data, counting ad impressions to unique visitors,
        detecting security incidents, protecting against malicious, deceptive, fraudulent, and illegal activity,
        providing legal, accounting and marketing services, customer relationship management services, processing
        payments, and providing other support services.</p>
    <p>Protiviti may disclose such Personal Information to the following categories of third parties:</p>
    <ul>
        <li><strong>Service Providers. </strong>We may share Personal Information with our third-party service providers
            who perform business functions and services on our behalf such as the provider of Protiviti’s customer
            relationship management solution and other third parties who host our Web servers, analyze data, and provide
            legal, accounting, marketing, and support services.</li>
        <li><strong>As required or appropriate by law. </strong>We may disclose Personal Information to regulatory
            authorities, government authorities or courts to comply with applicable laws, the service of legal process,
            or if we reasonably believe that such action is necessary to (a) comply with the law requiring such
            disclosure; (b) protect the rights or property of Protiviti or its affiliated companies; (c) prevent a crime
            or protect national security; or (d) protect the personal safety of the users or the public. </li>
        <li><strong>Business transfers. </strong>We also may disclose or transfer information to a third party in the
            event of any reorganization, merger, sale, joint venture, assignment, transfer or other disposition of all
            or any portion of our business, assets or stock (including in connection with any bankruptcy or similar
            proceedings).</li>
    </ul>
    <h3 class="prim-grey style-ckeditor"><strong>Collection and Use of Other Information</strong></h3>
    <p><strong>“Other Information” </strong>is any information that generally does not reveal your specific identity or
        does not directly relate to an identifiable individual. We may collect Other Information in a variety of ways,
        including:</p>
    <ul>
        <li><strong>Through your browser or device: </strong>Certain information is collected by most browsers or
            automatically through your device, such as your Media Access Control (MAC) address, computer type (Windows
            or Macintosh), screen resolution, operating system name and version, device manufacturer and model,
            language, and Internet browser type and version. We use this information to ensure that the Site functions
            properly.</li>
        <li><strong>Using cookies: </strong>Cookies are pieces of information placed on your computer by a website
            server and stored on the computer that you are using. Cookies allow us to collect information such as
            browser type, time spent on the Site, pages visited, registrations, submissions, demographics, information
            requests, language preferences, and other traffic data. Cookies on this track your online activities and may
            link that information with Personal Information you have provided us through online forms. We use the
            information for security purposes, to facilitate navigation, to display information more effectively, and to
            personalize your experience. We also gather statistical information about use of the Site to enhance its
            functionality, understand how it is used and assist us with resolving questions about it. We may also use
            cookies and other technologies in online advertising campaigns to track responses to our ads.</li>
    </ul>
    <p>If you do not want information collected through the use of cookies, most browsers allow you to automatically
        decline cookies, or be given the choice of declining or accepting a particular cookie (or cookies) from a
        particular site. If, however, you do not accept cookies, you may experience some inconvenience in your use of
        the Site. The Help section of the toolbar on most browsers will tell you how to set your browser to prevent
        accepting new cookies, how to have the browser notify you when you receive a new cookie or how to disable
        cookies altogether.</p>
    <ul>
        <li><strong>Using pixel tags and other similar technologies: </strong>Pixel tags (also known as web beacons and
            clear GIFs) may be used to, among other things, track the actions of Site users and email recipients, market
            our services to you, measure the success of our marketing campaigns and compile statistics about Site usage
            and response rates.</li>
        <li><strong>Analytics: </strong>We use third-party analytics providers such as Google Analytics, and Inspectlet
            on the Site. Google Analytics uses cookies and similar technologies to collect and analyze information about
            use of the Services and report on activities and trends. Google Analytics may also collect information
            regarding the use of other websites, apps and online resources. You can learn about Google’s practices by
            going to <a href="http://www.google.com/policies/privacy/partners/"
                target="_blank">www.google.com/policies/privacy/partners/</a>, and opt out by downloading the Google
            Analytics opt-out browser add-on, available at <a href="https://tools.google.com/dlpage/gaoptout"
                target="_blank">https://tools.google.com/dlpage/gaoptout</a>. We have also engaged Inspectlet to analyze
            the activities of visitors to this Site, and Inspectlet’s authorized use of cookies and other tracking
            technologies enable it to have access to Personal Information of visitors to this Site. Such access to and
            use of Personal Information by Inspectlet is governed by Inspectlet’s Privacy Policy, available <a
                href="https://www.inspectlet.com/legal#privacy" target="_blank">here</a>. We also use Eloqua, a third
            party marketing automation vendor. To opt out of Eloqua, please visit <a
                href="https://www.oracle.com/marketingcloud/opt-status.html" target="_blank">here</a>. </li>
        <li><strong>IP Address: </strong>Your IP Address is a number that is automatically assigned to your computer by
            your Internet Service Provider. An IP Address may be identified and logged automatically in our server log
            files whenever a user accesses the Site, along with the time of the visit and the pages visited. We use IP
            Addresses for purposes such as calculating usage levels, diagnosing server problems, and administering the
            Site. We may also derive your approximate location from your IP Address.</li>
    </ul>
    <h3 class="prim-grey style-ckeditor"><strong>Retargeting​</strong></h3>
    <p>We may use third-party advertising companies to serve ads regarding our services when you access and use other
        websites, based on information relating to your use of the Site. To do so, these companies may place or
        recognize a unique cookie on your browser (including through use of pixel tags). By utilizing the Site, you
        consent to the use of cookie or other tracking technologies to serve you retargeted advertising.</p>
    <p>If you would like more information about opting out of this advertising in desktop and mobile browsers on the
        particular device on which you are accessing this Policy or this type of advertising, please visit <a
            href="http://www.networkadvertising.org/managing/opt_out.asp" target="_blank">here</a> and <a
            href="http://optout.aboutads.info" target="_blank">optout.aboutads.info</a>.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Third Party Services</strong></h3>
    <p>This Policy does not address, and we are not responsible for, the privacy, information or other practices of any
        third parties, including any third party operating any site or service to which the Site links.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Personal Data Security and Confidentiality</strong></h3>
    <p>We use reasonable organizational, technical and administrative measures designed to protect Personal Information
        within our organization. Unfortunately, no data transmission or storage system can be guaranteed to be 100%
        secure. If you have reason to believe that your interaction with us is no longer secure, please immediately
        notify us in accordance with the “Contact Us” section below.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Revisions to the Policy</strong></h3>
    <p>If we change this Policy we will post any updates here for your review. We will also take other steps as
        necessary depending on the nature of the changes, including obtaining your consent where required by local data
        protection laws, or providing you with the opportunity to delete your Personal Information.</p>
    <h3 class="prim-grey style-ckeditor"><strong>California Residents </strong></h3>
    <p>Subject to certain exceptions, as a California resident, you have the right to: (i) access your Personal
        Information; and (ii) obtain deletion of your Personal Information. To the extent permitted by applicable law,
        we may be required to retain some of your Personal Information, and certain Personal Information is strictly
        necessary in order for us to fulfill the purposes described in this Policy.</p>
    <ul>
        <li><strong>Exercising other California consumer rights. </strong>Should you wish to exercise the rights as
            detailed above, you may:
            <ul>
                <li>contact us by phone at (800) 803-9336</li>
                <li>contact us by email at <a
                        href="/cdn-cgi/l/email-protection#7c1f1f0c1d1f13110c10151d121f193c0c0e1308150a150815521f1311"><span
                            class="__cf_email__"
                            data-cfemail="6201011203010d0f120e0b030c01072212100d160b140b160b4c010d0f">[email&#160;protected]</span></a>
                    and/or postal mail below</li>
                <li>request access your information via our online form by clicking on <a
                        href="https://privacyportal-eu-cdn.onetrust.com/dsarwebform/84d54614-589b-4dad-9735-b7274fe31d97/5963d77e-dedf-4d28-85c9-eff53c4786b6.html"
                        target="_blank">this link</a> </li>
                <li>request deletion of your Personal Information via our online form by clicking on <a
                        href="https://privacyportal-eu-cdn.onetrust.com/dsarwebform/84d54614-589b-4dad-9735-b7274fe31d97/b8d79967-f652-4c4e-b1a9-78cf368ae443.html"
                        target="_blank">this link</a></li>
            </ul>
        </li>
        <li><strong>Verification. </strong>In order to verify a request from you exercising your rights, you will need
            to submit a form referenced in the “Exercising other California consumer rights section” above providing (i)
            your legal first and last name, (ii) email address you use to correspond with Protiviti, (iii) describe your
            relationship with Protiviti, and (iv) provide the state you currently reside in. After you submit the form,
            Protiviti will send you a response email to your email on record and you will need to verify your email by
            clicking a “Confirm Email” button in the email Protiviti will send you.</li>
        <li><strong>Requests from other authorized individuals. </strong>If you authorize another person or agent to
            make a rights request on your behalf, please have the authorized agent call (800) 803-9336 to verify the
            authorization before processing the request. To complete the authorization, your authorized person will need
            to submit documentation evidencing the authorization to make the request on your behalf and the person will
            need to verify their identity with Protiviti. Documented evidence of authorization must be a signed power of
            attorney or other similar document establishing the designated person’s right to act on your behalf.</li>
    </ul>
    <p>Note you will not receive discriminatory treatment from us for exercising your rights.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Nevada Residents</strong></h3>
    <p>Protiviti does not sell personal information. Nevada residents may email questions regarding Protiviti’s
        practices relating to personal information to <a
            href="/cdn-cgi/l/email-protection#b6c1d3d4dbd7c5c2d3c4f6c4d9d4d3c4c2ded7dad098d5d9db"><span
                class="__cf_email__"
                data-cfemail="374052555a5644435245774558555245435f565b511954585a">[email&#160;protected]</span></a>.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Standard Contractual Clauses</strong></h3>
    <p>Protiviti utilizes the Standard Contractual Clauses for data transfers from data controllers in the European
        Union to processors and controllers established outside the European Union or the European Economic Area, where
        appropriate.</p>
    <h3 class="prim-grey style-ckeditor"><strong>EU-U.S. and SWISS-U.S. Privacy Shield Framework Participation for
            European Client Engagement Data</strong></h3>
    <p>Protiviti Inc. in the U.S. (the "Protiviti US") participates in the EU-U.S. and Swiss-U.S. Privacy Shield
        Frameworks (the "Frameworks"). Protiviti US’s participation in the Frameworks applies to personal data received
        in the U.S. from the European Union (“EU”) and Switzerland (“Swiss”) about our corporate clients' personnel,
        customers and vendors (collectively, "European Client Engagement Data"). We are committed to subjecting such
        European Client Engagement Data to the Frameworks, including its Principles of Notice, Choice, Accountability
        for Onward Transfer, Security, Data Integrity and Purpose Limitation, Access, and Recourse, Enforcement and
        Liability to the extent applicable to Protiviti US as a processor acting on behalf of our corporate clients. To
        learn more about the Frameworks, visit the U.S. Department of Commerce's Privacy Shield List <a
            href="https://www.privacyshield.gov/welcome" target="_blank">here</a>.</p>
    <p>Protiviti Inc. complies with the EU-U.S. Privacy Shield Framework and the Swiss-U.S. Privacy Shield Framework)
        (Privacy Shield) as set forth by the U.S. Department of Commerce regarding the collection, use, and retention of
        personal information transferred from the European Union, the United Kingdom and Switzerland to the United
        States in reliance on Privacy Shield. Protiviti Inc. has certified to the Department of Commerce that it adheres
        to the Privacy Shield Principles with respect to such information. If there is any conflict between the terms in
        this privacy policy and the Privacy Shield Principles, the Privacy Shield Principles shall govern. To learn more
        about the Privacy Shield program, and to view our certification, please visit <a
            href="https://www.privacyshield.gov/" target="_blank">here</a>.</p>
    <h3 class="prim-grey style-ckeditor"><strong>European Client Engagement Data Collection, Use, and
            Disclosure</strong></h3>
    <p>We operate as a processor acting on behalf of our corporate clients regarding the collection, use, and disclosure
        of European Client Engagement Data and we process European Client Engagement Data that our corporate clients
        submit to our services in accordance with their instructions. If you are an employee at, or customer or vendor
        of, our corporate clients, please consult the privacy policies of that entity for information about its privacy
        practices.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Rights of EU and Swiss Data Subjects under the Frameworks</strong></h3>
    <p>If you are an EU or Swiss data subject, you have the right to access your own European Client Engagement Data
        subject to certain limitations, such as where the legitimate rights of other persons would be infringed or where
        the burden or expense of providing access would be disproportionate. Please note that because Protiviti US
        personnel may have limited ability to access European Client Engagement Data our clients provide to us as part
        of our services, if you wish to request access, to limit use, or to limit disclosure, please contact us as
        described below and provide the name of the corporate client who submitted your data to us. We will refer your
        request to that corporate client, and will support them as needed in responding to your request.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Choices of EU and Swiss Data Subjects</strong></h3>
    <p>We operate as a processor acting on behalf of our corporate clients and, as such, do not use or disclose European
        Client Engagement Data in a manner that is subject to choice requirements under the Frameworks.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Recourse, Enforcement, and Liability under the Frameworks</strong></h3>
    <p>In compliance with the Frameworks, Protiviti commits to resolve complaints about our collection or use of
        European Client Engagement Data. Individuals with inquiries or complaints regarding our Frameworks policy should
        first contact us as specified below. In addition, please contact us as specified below if you have any
        questions, need access to your European Client Engagement Data, or otherwise need assistance. We remain
        responsible for our collection, use and disclosure of European Client Engagement Data in accordance with the
        Frameworks. We also are responsible for third party agents that are processing European Client Engagement Data
        on our behalf, unless we prove that we are not responsible for the event giving rise to the damage. In certain
        situations, we may be required to disclose European Client Engagement Data in response to lawful requests by
        public authorities, including meeting national security or law enforcement requirements.</p>
    <p>If you have an unresolved concern about European Client Engagement Data that we have not addressed
        satisfactorily, we have committed to cooperate with the panel established by the EU Data Protection Authorities
        and the Swiss Federal Data Protection and Information Commissioner (FDPIC) to serve as our independent dispute
        resolution bodies for the Frameworks. We are also subject to the investigatory and enforcement powers of the
        Federal Trade Commission with respect to the Frameworks. In addition, under certain conditions, more fully
        described on the Privacy Shield website (available <a href="https://www.privacyshield.gov/welcome"
            target="_blank">here</a>), EU and Swiss residents may invoke binding arbitration for non-monetary issues
        when other dispute resolution procedures have been exhausted.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Contact Us Regarding Privacy Shield</strong></h3>
    <p>Please contact us at <a
            href="/cdn-cgi/l/email-protection#3d4a585f505c4e49584f7d4f525f584f49555c515b135e5250"><span
                class="__cf_email__"
                data-cfemail="abdccec9c6cad8dfced9ebd9c4c9ced9dfc3cac7cd85c8c4c6">[email&#160;protected]</span></a> or
        at the mailing address below if you have any questions, wish to exercise your rights of access, or seek other
        assistance related to our participation in the Frameworks as described above.</p>
    <h3 class="prim-grey style-ckeditor"><strong>Contact Us</strong></h3>
    <p>If you have any questions about our website privacy policies, please contact us at:</p>
    <blockquote>
        <p><strong>Mailing Address</strong></p>
        <div>Privacy Office</div>
        <div>Protiviti Inc.</div>
        <div>2884 Sand Hill Road</div>
        <div>Suite 200</div>
        <div>Menlo Park, California 94025</div>
        <div>+1.650.234.6000</div>
    </blockquote>