<%- include('header'); -%>
    <p><em>Last Updated: October 1, 2018</em></p>
    <ol>
        <li><strong>ACCEPTANCE</strong></li>
    </ol>
    <p>Welcome to the Protiviti website located at <a href="http://www.protiviti.com">www.protiviti.com</a> together
        with any materials and services available therein, and successor site(s) thereto, (the “Site”), which is
        operated by Protiviti Inc. (“Protiviti” or “we” or “us”). These Terms of Use (“Terms”) state the terms and
        conditions governing your use of and access to the Site and constitute a legally binding contract between you
        and Protiviti. These Terms incorporate any additional terms and conditions posted by Protiviti through the Site,
        or otherwise made available to you by Protiviti.</p>
    <p>PLEASE REVIEW THESE TERMS CAREFULLY. YOUR ACCESS TO AND/OR USE OF THE SITE CONSTITUTES YOUR ACCEPTANCE OF, AND
        CONSENT TO BE BOUND BY, THESE TERMS. IF YOU DO NOT ACCEPT AND CONSENT TO BE BOUND BY THESE TERMS, THEN YOU MUST
        NOT USE OR ACCESS THE SITE. </p>
    <p>We may change these Terms from time to time by notifying you of such changes by any reasonable means, including
        by posting revised Terms through the Site. Any such changes will not apply to any dispute between you and us
        arising prior to the date on which we posted the revised Terms incorporating such changes, or otherwise notified
        you of such changes. <br />
        The “Last Updated” legend above indicates when these Terms were last changed. We may, at any time and without
        liability, modify or discontinue all or part of the Site (including access to the Site via any third-party
        links); or offer opportunities to some or all Site users.</p>
    <p>The “Last Updated” legend above indicates when these Terms were last changed. We may, at any time and without
        liability, modify or discontinue all or part of the Site (including access to the Site via any third-party
        links); or offer opportunities to some or all Site users.</p>
    <ol>
        <li value="2"><strong>ELIGIBILITY</strong></li>
    </ol>
    <p>By using the Site, you affirm that you are of legal age to enter into these Terms. If you are an individual
        accessing or using the Site on behalf of, or for the benefit of, any corporation, partnership or other entity
        with which you are associated (an “Organization”), then you are agreeing to these Terms on behalf of yourself
        and such Organization, and you represent and warrant that you have the legal authority to bind such Organization
        to these Terms. References to “you” and “your” in these Terms will refer to both the individual using the Site
        and to any such Organization.</p>
    <p>The Site is controlled or operated (or both) from the United States, and is not intended to subject Protiviti to
        any non-U.S. jurisdiction or law. The Site may not be appropriate or available for use in some non-U.S.
        jurisdictions. Any use of the Site is at your own risk, and you must comply with all applicable laws, rules and
        regulations in doing so. We may limit the Site’s availability at any time, in whole or in part, to any person,
        geographic area or jurisdiction that we choose.</p>
    <ol>
        <li value="3"><b>LICENSE</b></li>
    </ol>
    <p>Subject to and conditioned on your compliance with these Terms, Protiviti grants you and your Organization a
        limited, non-exclusive, non-transferable, non-assignable, revocable license to access and use the Site, and to
        download copies of the materials that we make available for download on the Site, in each case solely for your
        legitimate non-competitive and non-commercial use. </p>
    <p>The Site, including all content, information, spreadsheets, data, and materials incorporated into or made
        available through the Site, is the exclusive property of Protiviti or its suppliers, and is protected by U.S.
        and international law. You agree not to access or use the Site, or any content, information, or materials
        incorporated into or made available through the Site, except as expressly permitted under these Terms. </p>
    <p>All trademarks, service marks, and logos displayed on the Site (the “Marks”) are the exclusive property of
        Protiviti or their respective third party owners. Except for your right to view Marks on our Site, You are not
        granted any rights to the Marks. Nothing in the Site grants, by implication, estoppel, or otherwise, any license
        or right to use any Marks displayed on the Site.</p>
    <ol>
        <li value="4"><strong>USER SUBMITTED MATERIALS</strong></li>
    </ol>
    <p>?The Site includes functionality to enable you to upload your résumé and/or other employment- and career-related
        information, and may also enable you to submit comments and materials through interactive features such as
        message boards and other forums, and chatting, commenting and other messaging functionality (all such résumés,
        information, comments, and materials are “Submitted Materials”). For clarity, you retain ownership of your
        Submitted Materials. You hereby grant Protiviti a worldwide, royalty-free, fully paid-up, non-exclusive,
        perpetual, irrevocable, transferable and fully sublicensable (through multiple tiers) license, without
        additional consideration to you or any third party, to reproduce, distribute, perform and display (publicly or
        otherwise), create derivative works of, adapt, modify and otherwise use and exploit such Submitted Materials, in
        any format or media now known or hereafter developed, and for any purpose (including promotional purposes, such
        as testimonials).</p>
    <p>In addition, if you provide to us any ideas, proposals, suggestions or other materials (“Feedback”), whether
        related to the Site or otherwise, such Feedback will be deemed Submitted Materials, and you hereby acknowledge
        and agree that such Feedback is not confidential, and that your provision of such Feedback is gratuitous,
        unsolicited and without restriction, and does not place Protiviti under any fiduciary or other obligation.</p>
    <p>You represent and warrant that you have all rights necessary to grant the licenses granted in this section, and
        that your Submitted Materials, and your provision thereof through and in connection with the Site, are complete
        and accurate, and are not fraudulent, tortious or otherwise in violation of any applicable law or any right of
        any third party. You further irrevocably waive any “moral rights” or other rights with respect to attribution of
        authorship or integrity of materials regarding each Submission that you may have under any applicable law under
        any legal theory.</p>
    <p>Protiviti may (but has no obligation to) screen, monitor, evaluate and remove any Submitted Materials at any time
        and for any reason, or analyze your access to and use of the Site. We may disclose information regarding your
        access to and use of the Site, and the circumstances surrounding such access and use, to anyone for any reason
        or purpose.</p>
    <p>For clarity, certain information that you provide to Protiviti through the Site may also be governed by
        Protiviti’s Privacy Policy, located at <a
            href="https://www.protiviti.com/US-en/privacy-policy">https://www.protiviti.com/US-en/privacy-policy</a>
        (the “Privacy Policy”). You represent and warrant that any information you provide in connection with the Site
        is and will remain accurate and complete, and that you will maintain and update such information as needed. </p>
    <ol>
        <li value="5"><strong>RULES OF CONDUCT</strong></li>
    </ol>
    <p>In connection with the Site, you agree NOT to:</p>
    <ul>
        <li>Post, transmit or otherwise make available through or in connection with the Site any materials that are or
            may be: (a) threatening, harassing, degrading, hateful or intimidating, or otherwise fail to respect the
            rights and dignity of others; (b) defamatory, libelous, fraudulent or otherwise tortious; (c) obscene,
            indecent, pornographic or otherwise objectionable; or (d) protected by copyright, trademark, trade secret,
            right of publicity or privacy or any other proprietary right, without the express prior written consent of
            the applicable owner.</li>
        <li>Post, transmit or otherwise make available through or in connection with the Site any virus, worm, Trojan
            horse, Easter egg, time bomb, spyware or other computer code, file or program that is or is potentially
            harmful or invasive or intended to damage or hijack the operation of, or to monitor the use of, any
            hardware, software or equipment (each, a “Virus”).</li>
        <li>Use the Site for any purpose that is fraudulent or otherwise tortious or unlawful.</li>
        <li>Harvest or collect information about users of the Site.</li>
        <li>Interfere with or disrupt the operation of the Site or the servers or networks used to make the Site
            available, including by hacking or defacing any portion of the Site; or violate any requirement, procedure
            or policy of such servers or networks.</li>
        <li>Restrict or inhibit any other person from using the Site.</li>
        <li>Reproduce, modify, adapt, translate, create derivative works of, sell, rent, lease, loan, timeshare,
            distribute or otherwise exploit any portion of (or any use of) the Site except as expressly authorized
            herein.</li>
        <li>Reverse engineer, decompile or disassemble any portion of the Site, except where such restriction is
            expressly prohibited by applicable law.</li>
        <li>Remove any copyright, trademark or other proprietary rights notice from the Site.</li>
        <li>Frame or mirror any portion of the Site, or otherwise incorporate any portion of the Site into any product
            or service.</li>
        <li>Systematically download and store Site content.</li>
        <li>Use any robot, spider, site search/retrieval application or other manual or automatic device to retrieve,
            index, “scrape,” “data mine” or otherwise gather Site content, or reproduce or circumvent the navigational
            structure or presentation of the Site, without Protiviti’s express prior written consent. Notwithstanding
            the foregoing, and subject to compliance with any instructions posted in the robots.txt file located in the
            Site’s root directory, Protiviti grants to the operators of public search engines permission to use spiders
            to copy materials from the Site for the sole purpose of (and solely to the extent necessary for) creating
            publicly available, searchable indices of such materials, but not caches or archives of such materials.
            Protiviti reserves the right to revoke such permission either generally or in specific cases, at any time
            and without notice.</li>
    </ul>
    <ol>
        <li value="6"><b>ACCOUNT AND PASSWORD</b></li>
    </ol>
    <p>You may need to register for an account to use all or portions of the Site. We may reject, or require that you
        change, any user name, password or other information that you provide to us in registering. You, and not
        Protiviti, are responsible for any use or misuse of your user name or password. In particular, it is your sole
        responsibility to (a) maintain the confidentiality of your account login and password; (b) frequently update and
        revise your password; and (c) promptly notify Protiviti if there is any unauthorized use of your account or any
        breach of security.</p>
    <ol>
        <li value="7"><b>THIRD PARTY MATERIALS</b></li>
    </ol>
    <p>The Site may make available or provide links to third party websites, content, or information (“Third Party
        Materials”). Protiviti does not control, and is not responsible for, any Third Party Materials and the
        availability of any Third Party Materials on the Site does not imply endorsement of, or affiliation with the
        provider of Third Party Materials. Your use of Third Party Materials is at your own risk.</p>
    <ol>
        <li value="8"><b>INDEMNIFICATION</b></li>
    </ol>
    <p>You agree to indemnify, defend, and hold harmless Protiviti, and its affiliates, officers, directors, agents, and
        employees from any claims, liabilities, damages, judgments, awards, losses, costs, expenses and fees (including
        attorneys’ fees) arising out of or relating to your access to or use of, or activities in connection with, the
        Site (including any Submitted Materials), or your violation or alleged violation of these Terms or the Privacy
        Policy..</p>
    <ol>
        <li value="9">
            <p><b>DISCLAIMER</b></p>
        </li>
    </ol>
    <p>THE SITE IS PROVIDED ON AN “AS IS” AND “AS AVAILABLE” BASIS, WITHOUT ANY WARRANTIES OF ANY KIND, AND PROTIVITI
        EXPRESSLY DISCLAIMS ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, WITH RESPECT TO THE SITE TO THE FULLEST EXTENT
        PERMISSIBLE UNDER APPLICABLE LAW, INCLUDING WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE,
        NON-INFRINGEMENT, AND TITLE, AND WARRANTIES ARISING FROM COURSE OF PERFORMANCE, COURSE OF DEALING, OR USAGE OR
        TRADE. </p>
    <p>While we try to maintain the timeliness, integrity and security of the Site, we do not guarantee that the Site is
        or will remain updated, complete, correct or secure, or that access to the Site will be uninterrupted. The Site
        may include inaccuracies, errors and materials that violate or conflict with these Terms. Additionally, third
        parties may make unauthorized alterations to the Site.</p>
    <p>Further, without limiting the foregoing, Protiviti (a) does not guarantee that you will receive any employment or
        job offers through the Site; and (b); is neither your employer nor your agent based solely on your usage of the
        Site. </p>
    <ol>
        <li value="10"><b>LIMITATION OF LIABILITY</b></li>
    </ol>
    <p>PROTIVITI WILL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL, EXEMPLARY OR PUNITIVE DAMAGES
        OF ANY KIND, UNDER ANY CONTRACT, TORT (INCLUDING NEGLIGENCE), STRICT LIABILITY OR OTHER THEORY, INCLUDING
        DAMAGES FOR LOSS OF PROFITS, USE OR DATA, LOSS OF OTHER INTANGIBLES, OR LOSS OF SECURITY OF SUBMITTED MATERIALS
        (INCLUDING UNAUTHORIZED INTERCEPTION BY THIRD PARTIES OF ANY SUBMITTED MATERIALS), EVEN IF ADVISED IN ADVANCE OF
        THE POSSIBILITY OF SUCH DAMAGES OR LOSSES. WITHOUT LIMITING THE FOREGOING, PROTIVITI WILL NOT BE LIABLE FOR
        DAMAGES OF ANY KIND RESULTING FROM YOUR USE OF OR INABILITY TO USE THE SITE OR FROM ANY THIRD PARTY MATERIALS,
        INCLUDING FROM ANY VIRUS THAT MAY BE TRANSMITTED IN CONNECTION THEREWITH. YOUR SOLE AND EXCLUSIVE REMEDY FOR
        DISSATISFACTION WITH THE SITE IS TO STOP USING THE SITE. THE MAXIMUM AGGREGATE LIABILITY OF PROTIVITI FOR ALL
        DAMAGES, LOSSES AND CAUSES OF ACTION, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, WILL BE
        $100.</p>
    <p>Applicable law may not allow for limitations on certain implied warranties, or exclusions or limitations of
        certain damages; solely to the extent that such law applies to you, some or all of the above disclaimers,
        exclusions or limitations may not apply to you, and you may have certain additional rights. </p>
    <ol>
        <li value="11"><b>TERMINATION</b></li>
    </ol>
    <p>Protiviti may terminate or suspend your access to the Site at any time, with or without cause or notice,
        including if we believe that you have violated or acted inconsistently with the letter or spirit of these Terms.
        Upon any such termination or suspension, (a) your right to access and use the Site will immediately cease; (b)
        Protiviti may immediately deactivate or delete your user name, password and account; (b) Protiviti will be under
        no obligation to maintain or provide you with access to any materials associated with your account (including
        Submitted Materials), and may retain or delete such materials in Protiviti’s sole discretion; and (c) except for
        the license granted to you to access and use the Site, the remaining provisions of these Terms will survive and
        continue in effect.</p>
    <ol>
        <li value="12"><strong>NOTICE OF COPYRIGHT INFRINGEMENT</strong></li>
    </ol>
    <p>The Digital Millennium Copyright Act of 1998 (the “DMCA”) provides recourse for copyright owners who believe that
        material appearing on the internet infringes their rights under U.S. copyright law. If you believe in good faith
        that materials available on the Site infringe your copyright, you (or your agent) may send to Protiviti a
        written notice by mail, e-mail or fax, requesting that Protiviti remove such material or block access to it. If
        you believe in good faith that someone has wrongly filed a notice of copyright infringement against you, the
        DMCA permits you to send to Protiviti a counter-notice. Notices and counter-notices must meet the then-current
        statutory requirements imposed by the DMCA. See <a
            href="http://www.copyright.gov/">http://www.copyright.gov/</a> for details. Notices and counter-notices must
        be sent in writing to: </p>
    <p>Copyright Agent<br />
        Protiviti Inc.<br />
        Attn: Jeffrey Chow, Corporate Counsel, Legal Department<br />
        2884 Sand Hill Road<br />
        Suite 200<br />
        Menlo Park, California 94025 </p>
    <p>Email: <a
            href="/cdn-cgi/l/email-protection#25414846446555574a514c534c514c0b464a481a5650474f40465118745040575c00166400171575574a514c534c514c001715524047564c51400017150251405748560017154a4300171550564002034448551e474a415c18564a505746400016640017154d515155560016640017630017635252520b55574a514c534c514c0b464a48001763707608404b001763514057485608505640"><span
                class="__cf_email__"
                data-cfemail="593d343a3819292b362d302f302d30773a3634">[email&#160;protected]</span></a> <br />
        Phone: (650) 234-6000</p>
    <p>We suggest that you consult your legal advisor before filing a DMCA notice or counter-notice.</p>
    <ol>
        <li value="13"><b>GOVERNING LAW; JURISDICTION</b></li>
    </ol>
    <p>These Terms are governed by and will be construed in accordance with the laws of the State of California, U.S.A.,
        without regard to its principles of conflicts of law, and regardless of your location. You agree to exclusive
        jurisdiction of the federal and state courts located in Santa Clara County, California, U.S.A., and waive any
        jurisdictional, venue or inconvenient forum objections to such courts. </p>
    <ol>
        <li value="14"><b>INFORMATION OR COMPLAINTS</b></li>
    </ol>
    <p>If you have a question or complaint regarding the Site, please send an e-mail to <a
            href="/cdn-cgi/l/email-protection#6d01080a0c014309081d0c1f19000803192d1d1f0219041b041904430e0200521e180f07080e195008031c18041f14485e2c485f5d3d1f0219041b041904485f5d1a080f1e041908485f5d4a19081f001e485f5d020b485f5d181e084a4b0c001d560f020914500519191d1e485e2c485f2b485f2b1a1a1a431d1f0219041b041904430e0200485f2b383e400803485f2b19081f001e40181e08"><span
                class="__cf_email__"
                data-cfemail="79151c1e1815571d1c09180b0d141c170d39090b160d100f100d10571a1614">[email&#160;protected]</span></a>.
        You may also contact us by writing to Webmaster Protiviti Inc., 2884 Sand Hill Road, Menlo Park, California
        94025. Please note that e-mail communications will not necessarily be secure; accordingly you should not include
        credit card information or other sensitive information in your e-mail correspondence with us. </p>
    <ol>
        <li value="15"><b>GENERAL</b></li>
    </ol>
    <p>These Terms do not, and will not be construed to, create any partnership, joint venture, employer-employee,
        agency or franchisor-franchisee relationship between you and Protiviti. If any provision of these Terms is found
        to be unlawful, void or for any reason unenforceable, that provision will be deemed severable from these Terms
        and will not affect the validity and enforceability of any remaining provision. You may not assign, transfer or
        sublicense any or all of your rights or obligations under these Terms without our express prior written consent.
        We may assign, transfer or sublicense any or all of our rights or obligations under these Terms without
        restriction. No waiver by either party of any breach or default under these Terms will be deemed to be a waiver
        of any preceding or subsequent breach or default. Any heading, caption or section title contained herein is for
        convenience only, and in no way defines or explains any section or provision. All terms defined in the singular
        will have the same meanings when used in the plural, where appropriate and unless otherwise specified. Any use
        of the term “including” or variations thereof in these Terms will be construed as if followed by the phrase
        “without limitation.” These Terms, including any terms and conditions incorporated herein, constitute the entire
        agreement between you and Protiviti relating to the subject matter hereof, and supersede any and all prior or
        contemporaneous written or oral agreements or understandings between you and Protiviti relating to such subject
        matter.</p>
    <p>Notices to you (including notices of changes to these Terms) may be made via posting to the Site or by e-mail
        (including in each case via links), or by regular mail. Without limitation, a printed version of these Terms and
        of any notice given in electronic form will be admissible in judicial or administrative proceedings based upon
        or relating to these Terms to the same extent and subject to the same conditions as other business documents and
        records originally generated and maintained in printed form. Protiviti will not be responsible for any failure
        to fulfill any obligation due to any cause beyond its control.</p>
    <p>Site © 2005–2018 Protiviti Inc. unless otherwise noted. All rights reserved.</p>
    </div>
    </div>
    </div>
    </div>
    </div>